* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: #000;
}
.container {
  margin: 0px 100px;
}
.logo-top {
  display: flex;
  align-items: center;
}
.logo-top img {
  width: 26px;
  height: 26px;
}
.logo-top p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 5px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.nav-link {
  color: #000;
  margin-right: 12px;
  font-size: 25px;

  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.05em;
  text-align: left;
}
.button {
  background: rgba(41, 41, 41, 1);
  color: #ffffff;
  text-decoration: none;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Open Sans";
  transition: 0.3s linear;
  border-radius: 4px;
}

.product-designer h1 {
  font-family: Anton;
  font-size: 180px;
  font-weight: 400;
  line-height: 180px;
  letter-spacing: -0.03em;
  text-align: left;
  width: 600px;
  height: 360px;
  color: rgba(41, 41, 41, 1);
}
.product-designer h2 {
  padding-top: 20px;
  font-family: Anton;
  font-size: 100px;
  font-weight: 400;
  line-height: 103px;
  letter-spacing: -0.03em;
  text-align: left;
  background-image: linear-gradient(
    to left,
    rgba(250, 112, 154, 1),
    rgba(254, 225, 64, 1)
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.header-top-social {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.download {
  background: rgba(41, 41, 41, 1);
  display: flex;
  justify-content: center;
  padding: 16px;
}
.download p {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.05em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.download img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
.main-screen {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.main-image img {
  width: 500px;
  height: 500px;
}
.portal {
  width: 160px;
  height: 160px;
  margin-right: 15px;
}
.number {
  margin-top: 120px;
}
.number-content {
  display: flex;
  justify-content: space-evenly;
  padding: 82px 0px 82px 0px;
  border-radius: 29px;
  background-color: rgb(227, 238, 233);
}
.number-item {
  font-family: Anton;
  font-size: 128px;
  font-weight: 400;
  line-height: 115px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(100, 198, 97, 1);
}
.number-content span {
  display: block;
  font-family: Anton;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  padding-top: 20px;
}
.portfolio-block {
  margin-top: 200px;
}
.portfolio-block h1 {
  font-family: Anton;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}
.portfolio-content {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio-item {
  /* width: 25%; */
  border-radius: 10px;
  padding: 30px 30px;
  border: 1px solid rgba(0, 0, 0, 1);
  margin: 20px;
}
.portfolio-item p {
  margin-top: 23px;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.05em;
  text-align: left;
}
.portfolio-small-item {
  display: flex;
  margin-top: 21px;
}
.portfolio-small-block {
  margin-left: 5px;
  font-family: Gotham;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.05em;
  text-align: left;
  padding: 5px 8px;
  background: linear-gradient(0deg, #e9dffc, #e9dffc),
    linear-gradient(0deg, #be9ff6, #be9ff6);
  color: rgba(120, 77, 199, 1);
  border-radius: 12px;
  border: 1px solid rgba(190, 159, 246, 1);
}
.figma-community {
  margin-top: 40px;
  font-family: Gotham;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.05em;
  text-align: left;
  background: rgba(41, 41, 41, 1);
  color: #ffffff;
  text-align: center;
  padding: 12px 82px;
}
/* .portfolio-item img {
  width: 300px;
  height: 300px;
} */
.skills-block {
  margin-top: 200px;
}
.skills-block h1 {
  font-family: Anton;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}
.skills-item {
  display: flex;
  align-items: center;
  width: 700px;
  height: 300px;
  border: 1px solid rgba(115, 115, 115, 1);
  padding: 40px;
  margin: 10px;
}
.eclipse img {
  width: 220px;
  height: 220px;
}
.ecipse-text {
  margin-left: 20px;
}
.ecipse-text p {
  padding-top: 20px;
  font-family: Gotham;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.05em;
  text-align: left;
  height: 80px;
  width: 400px;
}
.skills-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
